.card-img-top{
    background-image: url(<url>);
    width: 400px;
    height: 200px;
    background-position: 50% 50%;
    background-size: cover;
}
.big-img{
    background-image: url(<url>);
    width: 600%;
    height: 600%;
    background-position: 50% 50%;
    background-size: cover;
}
